<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->  
<mapper namespace="com.digou.mapper.AccountMapper">  

    <!-- cUser -->
	<insert id="insertCUser" parameterType="com.digou.entity.CUser" useGeneratedKeys="true" keyProperty="userID">
		INSERT INTO CUser (userID, userName, password, portraitURL, nickname, address,isBlack)
		VALUE (#{userID}, #{username}, #{password}, #{portraitURL}, #{nickname}, #{address},#{isBlack})
<!-- 		<selectKey keyProperty="userID" order="AFTER" resultType="Integer">
        	SELECT LAST_INSERT_ID()
    	</selectKey> -->
	</insert>
    
    <update id="updateCUser" parameterType="com.digou.entity.CUser">
        UPDATE CUser SET 
        <if test='username != null'> 
        	username=#{username}
        </if>
        <if test='password != null'> 
        	, password=#{password}
        </if>
		<if test='nickname != null'> 
        	, nickname = #{nickname}
        </if>
        <if test='address != null'> 
        	, address = #{address}
        </if>
		<if test='portraitURL != null'> 
        	, portraitURL = #{portraitURL}
        </if>
        WHERE userID=#{userID}
    </update>
    
    <select id="findCUser" parameterType="String" resultType="com.digou.entity.CUser">
        SELECT * FROM CUser WHERE username=#{0}
    </select>
    
    <select id="findCUserByID" resultType="com.digou.entity.CUser">
        SELECT * FROM CUser WHERE userID=#{0}
    </select>
    
	<!-- bUser -->
	<!-- aUser -->
    
</mapper>