<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->  
<mapper namespace="com.digou.mapper.CommentMapper">  

<insert id="insert" parameterType="com.digou.entity.Comment">
	INSERT INTO Comment (orderID, message, createTime)
	VALUE (#{orderID}, #{message}, #{createTime})
</insert>

<select id="find" resultType="com.digou.entity.Comment">
	SELECT Comment.orderID, Comment.createTime, Comment.message, CUser.userID, CUser.nickname
	FROM Comment LEFT JOIN OrderForm ON Comment.orderID=OrderForm.orderID
				 LEFT JOIN CUser ON OrderForm.cID=CUser.userID
	WHERE OrderForm.pID=#{0}
	
</select>

</mapper>