<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->  
<mapper namespace="com.digou.mapper.ManagerMapper">

    <!--
    <select id="sellerPassInfo" resultType="com.digou.entity.SellerUser">
        SELECT * FROM Product WHERE pName Like CONCAT('%', #{pName}, '%') LIMIT #{origin},#{length}   
    </select>-->
    <!--
    <select id="findAll" resultType="com.digou.entity.Product">
        SELECT * FROM Product LIMIT #{origin},#{length}
    </select>-->

    <select id="customerBlackInfo" resultType="com.digou.entity.CUser">
        SELECT * FROM  CUser WHERE isBlack=1
    </select>

    <select id="managerSearchCustomer" parameterType="String" resultType="com.digou.entity.CUser">
                SELECT * FROM CUser WHERE isBlack=0 AND (username Like CONCAT('%', #{0}, '%') or nickname Like CONCAT('%', #{0}, '%'))
    </select>

    <update id="customerBlackCancel" parameterType="int">
        UPDATE CUser SET isBlack=0 WHERE userID=#{0}
    </update>

    <update id="customerWhiteBlock" parameterType="int">
        UPDATE CUser SET isBlack=1 WHERE userID=#{0}
    </update>

    <select id="sellerPassInfo" resultType="com.digou.entity.SellerUser">
        SELECT * FROM Seller_User WHERE isPass=0 AND isBlack=0
    </select>

    <select id="sellerBlackInfo" resultType="com.digou.entity.SellerUser">
        SELECT * FROM Seller_User WHERE isPass=1 AND isBlack=1
    </select>

    <select id="sellerWhiteInfo" parameterType="String"  resultType="com.digou.entity.SellerUser">
        SELECT *,(SELECT COUNT(*) FROM Product WHERE sID = id) as num FROM Seller_User WHERE isPass=1 AND isBlack=0 AND (shopName Like CONCAT('%', #{0}, '%') or nickname Like CONCAT('%', #{0}, '%') or description Like CONCAT('%', #{0}, '%') or telephone Like CONCAT('%', #{0}, '%'))
    </select>

    <select id="sellerWhiteBlock" parameterType="int">
        UPDATE Seller_User SET isPass=1, isBlack=1 WHERE id=#{0}
    </select>

    <select id="sellerUpdateApprove" parameterType="int">
        UPDATE Seller_User SET isPass=1, isBlack=0 WHERE id=#{0}
    </select>

    <select id="sellerUpdateReject" parameterType="int">
        UPDATE Seller_User SET isPass=1, isBlack=1 WHERE id=#{0}
    </select>

    <select id="sellerBlackCancel" parameterType="int">
        UPDATE Seller_User SET isPass=1, isBlack=0 WHERE id=#{0}
    </select>

</mapper>