<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->  
<mapper namespace="com.digou.mapper.ManagerMapper">

    <!--
    <select id="sellerPassInfo" resultType="com.digou.entity.SellerUser">
        SELECT * FROM Product WHERE pName Like CONCAT('%', #{pName}, '%') LIMIT #{origin},#{length}   
    </select>-->
    <!--
    <select id="findAll" resultType="com.digou.entity.Product">
        SELECT * FROM Product LIMIT #{origin},#{length}
    </select>-->
    <select id="all_order_price_admin" parameterType="int" resultType="com.digou.entity.Order">
        SELECT * FROM OrderForm LEFT JOIN Product ON Product.pID=OrderForm.pID
    </select>
    <update id="top10ProductApplyReject" parameterType="int">
        update Product set isTop10 =-2 where  pID=#{id}
    </update>
    <select id="top10ProductApplyInfo" resultType="com.digou.entity.Product" >
        SELECT * FROM Product WHERE isTop10 = -1 AND isDelete =0
    </select>

    <update id="top5SellerApplyReject" parameterType="int">
        update Seller_User set isTop5 =-2 where  id=#{id}
    </update>
    <select id="top5SellerApplyInfo" resultType="com.digou.entity.SellerUser" >
        SELECT * FROM Seller_User WHERE isTop5 = -1
    </select>

    <select id="productTop10Info"  resultType="com.digou.entity.Product">
        select * FROM Product WHERE isTop10 =1 AND isDelete =0
    </select>

    <update id="productToTop10" parameterType="int" >
        update Product set isTop10 =1 where pID =#{id} AND isDelete =0
    </update>

    <update id="productTop10Cancel" parameterType="int">
        update Product set isTop10 =0 where   pID=#{id}
    </update>

    <select id="allSellerInfo" resultType="com.digou.entity.SellerUser">
        select * from Seller_User WHERE isPass =1 AND isBlack =0
    </select>

    <select id="sellerTop5Info"  resultType="com.digou.entity.SellerUser">
        SELECT *  FROM Seller_User WHERE isTop5 = 1 AND isBlack =0
    </select>

    <resultMap id="OrderMap2" type="com.digou.entity.SellerUser">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="shopName" jdbcType="CHAR" property="shopName" />
        <result column="major" jdbcType="CHAR" property="major" />
        <result column="pName" jdbcType="VARCHAR" property="product.pName" />
        <result column="num" jdbcType="INTEGER" property="product.num" />
        <result column="portraitURL" jdbcType="VARCHAR" property="product.portraitURL" />
        <result column="price" jdbcType="INTEGER" property="product.price" />

    </resultMap>
    <select id="sellerTop5InfoAds"  resultMap="OrderMap2">
       SELECT id,  shopName,  major, portraitURL, pName, price, num FROM (Seller_User  LEFT JOIN Product ON Product.sID = Seller_User.id) WHERE Seller_User.isTop5=1 AND Seller_User.isBlack=0 AND Product.isDelete=0
    </select>

    <update id="sellerToTop5" parameterType="int" >
        update Seller_User set isTop5 =1 where id =#{id}
    </update>
    <update id="sellerTop5Cancel" parameterType="int">
        update Seller_User set isTop5 =0 where  id=#{id}
    </update>


    <update id="changeProfitRate" parameterType="float">
        UPDATE Admin SET profitRate=#{rate}
    </update>
    <select id="profitRate" resultType="float" >
        select profitRate FROM  Admin
    </select>

    <resultMap id="OrderMap" type="com.digou.entity.Order">
        <result column="orId" jdbcType="INTEGER" property="orderID"/>
        <result column="cID" jdbcType="INTEGER" property="cID" />
        <result column="pID" jdbcType="INTEGER" property="pID" />
        <result column="createTime" jdbcType="INTEGER" property="createTime" />
        <result column="Price" jdbcType="REAL" property="orderPrice" />
        <result column="isFinish" jdbcType="INTEGER" property="isFinish" />
        <result column="amount" jdbcType="INTEGER" property="amount" />
        <result column="adminProfit" jdbcType="REAL" property="adminProfit" />
        <result column="shopName" jdbcType="CHAR" property="shopName"/>
        <result column="pName" jdbcType="CHAR" property="pName"/>
        <result column="pUrl" jdbcType="CHAR" property="portraitURL"/>
        <result column="cname" jdbcType="CHAR" property="cName"/>
        <result column="sellerName" jdbcType="CHAR" property="sellerName"/>
    </resultMap>

    <select id="searchOrderByID"  resultMap="OrderMap">
        SELECT OrderForm.orderID AS orId , OrderForm.cID AS cID,  OrderForm.pID AS pID, OrderForm.orderPrice AS Price,
		 OrderForm.createTime AS createTime,OrderForm.amount AS  amount, OrderForm.isFinish AS isFinish,
		 OrderForm.adminProfit AS adminProfit,  Seller_User.shopName AS shopName, Product.pName AS pName,
         Product.portraitURL AS pUrl, CUser.nickname AS cname,Seller_User.nickname AS sellerName
        FROM  (OrderForm LEFT JOIN Product ON (OrderForm.pID =Product.pID) LEFT JOIN Seller_User ON ( Product.sID = Seller_User.id) )LEFT JOIN CUser ON ( OrderForm.cID = CUser.userID) where orderID = #{orderID}

    </select>


    <select id="searchOrderByTime"  resultMap="OrderMap">
		SELECT OrderForm.orderID AS orId , OrderForm.cID AS cID,  OrderForm.pID AS pID, OrderForm.orderPrice AS Price,
		 OrderForm.createTime AS createTime,OrderForm.amount AS  amount, OrderForm.isFinish AS isFinish,
		 OrderForm.adminProfit AS adminProfit,  Seller_User.shopName AS shopName, Product.pName AS pName,
         Product.portraitURL AS pUrl, CUser.nickname AS cname,Seller_User.nickname AS sellerName
        FROM  (OrderForm LEFT JOIN Product ON (OrderForm.pID =Product.pID) LEFT JOIN Seller_User ON ( Product.sID = Seller_User.id) )LEFT JOIN CUser ON ( OrderForm.cID = CUser.userID) WHERE  createTime BETWEEN #{start} AND #{end}
	</select>

    <select id="allOrder" resultMap="OrderMap">
          SELECT OrderForm.orderID AS orId , OrderForm.cID AS cID,  OrderForm.pID AS pID, OrderForm.orderPrice AS Price,
		 OrderForm.createTime AS createTime,OrderForm.amount AS  amount, OrderForm.isFinish AS isFinish,
		 OrderForm.adminProfit AS adminProfit,  Seller_User.shopName AS shopName, Product.pName AS pName,
         Product.portraitURL AS pUrl, CUser.nickname AS cname,Seller_User.nickname AS sellerName
        FROM  (OrderForm LEFT JOIN Product ON (OrderForm.pID =Product.pID) LEFT JOIN Seller_User ON ( Product.sID = Seller_User.id) )LEFT JOIN CUser ON ( OrderForm.cID = CUser.userID)
    </select>

    <select id="customerBlackInfo" resultType="com.digou.entity.CUser">
        SELECT * FROM  CUser WHERE isBlack=1
    </select>

    <select id="managerSearchCustomer" parameterType="String" resultType="com.digou.entity.CUser">
                SELECT * FROM CUser WHERE isBlack=0 AND (username Like CONCAT('%', #{0}, '%') or nickname Like CONCAT('%', #{0}, '%'))
    </select>

    <update id="customerBlackCancel" parameterType="int">
        UPDATE CUser SET isBlack=0 WHERE userID=#{0}
    </update>

    <update id="customerWhiteBlock" parameterType="int">
        UPDATE CUser SET isBlack=1 WHERE userID=#{0}
    </update>

    <select id="sellerPassInfo" resultType="com.digou.entity.SellerUser">
        SELECT * FROM Seller_User WHERE isPass=0 AND isBlack=0
    </select>

    <select id="sellerBlackInfo" resultType="com.digou.entity.SellerUser">
        SELECT * FROM Seller_User WHERE isPass=1 AND isBlack=1
    </select>

    <select id="sellerWhiteInfo" parameterType="String"  resultType="com.digou.entity.SellerUser">
        SELECT *,(SELECT COUNT(*) FROM Product WHERE sID = id) as num FROM Seller_User WHERE isPass=1 AND isBlack=0 AND (shopName Like CONCAT('%', #{0}, '%') or nickname Like CONCAT('%', #{0}, '%') or description Like CONCAT('%', #{0}, '%') or telephone Like CONCAT('%', #{0}, '%'))
    </select>

    <select id="sellerWhiteBlock" parameterType="int">
        UPDATE Seller_User SET isPass=1, isBlack=1 WHERE id=#{0}
    </select>

    <select id="sellerUpdateApprove" parameterType="int">
        UPDATE Seller_User SET isPass=1, isBlack=0 WHERE id=#{0}
    </select>

    <select id="sellerUpdateReject" parameterType="int">
        UPDATE Seller_User SET isPass=1, isBlack=1 WHERE id=#{0}
    </select>

    <select id="sellerBlackCancel" parameterType="int">
        UPDATE Seller_User SET isPass=1, isBlack=0 WHERE id=#{0}
    </select>

</mapper>