<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->  
<mapper namespace="com.digou.mapper.ProductMapper">  
    
    <select id="find" resultType="com.digou.entity.Product">
        select * from Seller_User RIGHT join Product on Seller_User.id=Product.sID WHERE Product.pName Like CONCAT('%', #{0}, '%') OR Product.description Like CONCAT('%', #{0}, '%')
    </select>
    
    <select id="findAll" resultType="com.digou.entity.Product">
        SELECT * FROM Product LIMIT #{origin},#{length}
    </select>
    
    <select id="findByID" resultType="com.digou.entity.Product">
        SELECT * FROM Product WHERE pID=#{pID}
    </select>
</mapper>