<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->  
<mapper namespace="com.digou.mapper.SellerMapper">

    <!-- cUser -->
	<insert id="insertUser" parameterType="com.digou.entity.SellerUser" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO Seller_User (url, telephone, shopName, nickname, description, major, password, email)
		VALUE (#{url}, #{telephone}, #{shopName}, #{nickname}, #{description}, #{major}, #{password},#{email})
	</insert>

    <!-- cUser -->
	<insert id="addGood" parameterType="com.digou.entity.Product">
		INSERT INTO Product (pName, price, description, portraitURL, sID, num ,isDelete)
		VALUE (#{pName}, #{price}, #{description}, #{portraitURL}, #{sID}, #{num} ,0)
	</insert>

    <update id="modifyUser" parameterType="com.digou.entity.SellerUser">
        UPDATE Seller_User SET url=#{url}, telephone=#{telephone}, shopName = #{shopName}, nickname = #{nickname},
        description = #{description}, major=#{major} ,email=#{email} WHERE id=#{id}
    </update>
    <!--
    <update id="updateCUser" parameterType="com.digou.entity.CUser">
        UPDATE CUser SET username=#{username}, password=#{password}, nickname = #{nickname}, cookie = #{cookie}, 
        isOnline = #{isOnline}, portraitURL=#{portraitURL} WHERE userID=#{userID}
    </update>-->
    
    <select id="allGood" parameterType="int" resultType="com.digou.entity.Product">
        SELECT * FROM Product WHERE sID=#{0} AND isDelete=0
    </select>


    <select id="findUser" parameterType="String" resultType="com.digou.entity.SellerUser">
        SELECT * FROM Seller_User WHERE telephone=#{0}
    </select>

    <select id="findUserById" parameterType="int" resultType="com.digou.entity.SellerUser">
        SELECT * FROM Seller_User WHERE id=#{0}
    </select>

    <!--郭伟明-->
    <!--商家查看订单-->

    <select id="allOrder" parameterType="int" resultType="com.digou.entity.Order">
        SELECT * FROM (OrderForm LEFT JOIN Product ON OrderForm.pID=Product.pID) LEFT JOIN CUser ON OrderForm.cID=CUser.userID WHERE sID=#{0} AND isFinish!=4
        <!--SELECT * FROM OrderForm LEFT JOIN Product ON OrderForm.pID=Product.pID WHERE sID=#{0}-->
    </select>

    <!--商家退款-->
    <update id="refund" parameterType="int">
        UPDATE OrderForm SET isFinish=0 WHERE orderID=#{orderId}
    </update>

    <!--发货-->
    <update id="sending" parameterType="int">
        UPDATE OrderForm SET isFinish=3 WHERE orderID=#{orderId}
    </update>

    <!--修改商品信息-->
    <update id="modify" parameterType="com.digou.entity.Product">
        UPDATE Product SET pName=#{pName}, description=#{description}, price = #{price}, portraitURL = #{portraitURL},
        sID = #{sID}, num=#{num} WHERE pID=#{pID}
    </update>
    <!---->

    <!-- 计算收入-->
    <select id="all_order_price" parameterType="int" resultType="com.digou.entity.Order">
        SELECT * FROM OrderForm LEFT JOIN Product ON Product.pID=OrderForm.pID WHERE sID=#{id}
    </select>

    <!--下架-->
    <select id="delete" parameterType="int" >
        UPDATE Product SET isDelete=1 WHERE pID=#{pid}
    </select>

    <!--物流-->
    <update id="select_logistics" >
        UPDATE OrderForm SET company=#{com},logistics_point=#{point} WHERE orderID=#{id}
    </update>

    <!--申请广告-->
    <update id="apply_ads">

        <if test="pId != '-1'">
            UPDATE Product SET isTop10= -1 WHERE pID=#{pId}
        </if>
        <if test="pId == '-1'.toString()">
            UPDATE Seller_User SET isTop5= -1 WHERE id=#{sId}
        </if>
    </update>

    <resultMap id="allcomments" type="com.digou.entity.Comment">
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="orderID" jdbcType="INTEGER" property="orderID"/>


        <result column="portraitURL" jdbcType="VARCHAR" property="portraitURL"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="cID"  jdbcType="INTEGER" property="orderForm.cID"/>
    </resultMap>

    <!--评论-->
    <select id="comment" parameterType="int" resultType="com.digou.entity.Comment">
<!--         SELECT *  
        FROM Comment LEFT JOIN (CUser LEFT JOIN (OrderForm LEFT JOIN Product ON Product.pID = OrderForm.pID) 
        ON CUser.userID=OrderForm.cID ) ON OrderForm.orderID=Comment.orderID WHERE Product.pID=#{pId} -->
        SELECT Comment.orderID, Comment.createTime, Comment.message, OrderForm.cID, CUser.nickname, Product.sID, CUser.portraitURL, commented
		FROM Comment LEFT JOIN OrderForm ON Comment.orderID=OrderForm.orderID
				 LEFT JOIN CUser ON OrderForm.cID=CUser.userID
				 LEFT JOIN Product ON Product.pID=OrderForm.pID
		WHERE OrderForm.pID=#{0}
    </select>

    <!--查看订单历史-->
    <!--查看订单历史使用allOrder查询-->

    <!--历史订单下search-->
    <select id="search" parameterType="int" resultType="com.digou.entity.Order">
        SELECT * FROM OrderForm LEFT JOIN Product ON OrderForm.pID=Product.pID
                                LEFT JOIN CUser   ON OrderForm.cID=CUser.userID
                                LEFT JOIN Seller_User ON Product.sID=Seller_User.id
                                WHERE Seller_User.id=#{sId}
    </select>
</mapper>